.glitchText {
  position: relative;
  color: #9747FF;
  cursor: pointer;
  font-size: 60px;
  font-family: sans-serif;
}

.glitchText::before,
.glitchText::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  z-index: -1;
  animation-fill-mode: forwards;
}

.glitchText::before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

.glitchText::after {
  animation: glitchBottom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchTop {
  2%, 64% {
    transform: translate(2px, -2px);
  }
  4%, 60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

@keyframes glitchBottom {
  2%, 64% {
    transform: translate(-2px, 0);
  }
  4%, 60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
